@using MongoDB.Bson
@using Core;
@inherits LayoutComponentBase

@inject IAuth AuthService;
@inject NavigationManager navMan;


<CascadingValue Value="_currentUser">
    <div class="page">
        @if (_currentUser != null)
        {
            <div class="sidebar">
                <NavMenu/>
            </div>
        }
        <main>
            <div class="top-row">
                <div class="top-row-left">
                    <div class="tab-navigation">
                    </div>
                </div>
                <div class="top-row-right">
                    <div class="user-profile">
                        @if (_currentUser != null)
                        {
                            <div @onclick="@(() => NavigateToMinSide(_currentUser.Id))" class="intialer" style="cursor: pointer">KC</div>
                        }
                    </div>
                </div>
            </div>

            <article class="content">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>
@code
{
    
    private BrugerLoginDTO _currentUser;


    protected override async Task OnInitializedAsync()
    {
        _currentUser = await AuthService.GetBruger();
        if (_currentUser == null)
        {
            return;
        }

        StateHasChanged();
    }

    private async Task NavigateToMinSide(int currentUserId)
    {
        navMan.NavigateTo($"/minside/{currentUserId}");
    }
}
