@using Core;
@inject NavigationManager navMan;


@page "/minside/{currentUserId:int}"
<h3>Minside</h3>

@code {
    
    [Parameter]
    public int currentUserId { get; set; }
    
    
    protected override async Task OnInitializedAsync()
    {

    }
}