@inject ILogin ILoginService;

@page "/resetkode"
@using Core

<div class="form">
    <h3>Skriv kode</h3>
    <p class="info  ">Vi har sendt en e-mail med en 6-cifret kode. 
        Det kan tage et par minutter, før du modtager e-mailen. 
        Husk at tjekke din spam-mappe. Indsæt koden herunder.</p>
    <EditForm Model="_brugerKode" OnValidSubmit="@HandleInput">
        <DataAnnotationsValidator/>
        <ValidationSummary/>    
        <div class="form-gruppe">
            <InputText @bind-Value="_brugerKode.Kode" class="form-control" placeholder="6-cifret engangskode">
            </InputText>
        </div>
        <br/>
        <button type="submit" class="confirm-kode-btn">Bekræft kode</button>
        </EditForm>
</div>

@code {

    private BrugerResetKodeDTO _brugerKode = new();
    private string _errorText;
    
    private async Task HandleInput()
    {
        var resetKodeInput = _brugerKode.Kode;

        var status = await ILoginService.CheckVerficiationCode(resetKodeInput);

        if (status)
        {
            Console.WriteLine("Venligst reset password - din kode passer");
        }
        else
        {
            Console.WriteLine("Koden er forkert");
            _errorText = "Koden er forkert ellers er den udløbet";
        }


    }

}