@using Core;
@inject ILogin ILoginService;

@page "/resetpassword"


<div class="resetpassword-form">
    <h3 class="overskrift">Nulstil adgangskode</h3>
    <p class="info">Skriv din e-mail for at nulstille din adgangskode</p>
    <EditForm Model="resetBruger" OnValidSubmit="@HandleReset">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-gruppe">
            <InputText @bind-Value="resetBruger.Email" class="form-control" placeholder="Email">
            </InputText>
            <br/>
            <button type="submit" class="nulstil-password-btn">Nulstil kodeord</button>
        </div>
    </EditForm>
</div>

@code {

    private BrugerResetPasswordDTO? resetBruger = new();

    private async Task HandleReset()
    {
        string email = resetBruger.Email;
        Console.WriteLine(email);
        await ILoginService.GetUserByEmail(email);
    }

}