@page "/Elevplan"


<TabControl>
    <TabPage Text="First Tab">
        <h3>Content for first tab</h3>
        <p>This is the content of the first tab.</p>
    </TabPage>
    <TabPage Text="Second Tab">
        <h3>Content for second tab</h3>
        <p>This is the content of the second tab.</p>
    </TabPage>
    <TabPage Text="Third Tab">
        <h3>Content for third tab</h3>
        <p>This is the content of the third tab.</p>
    </TabPage>
</TabControl>
@code{

    

}