@inject IAuth AuthService;
@inject NavigationManager navMan;
@page "/"
@using Core

<h3 class="page-title">Oversigt</h3>

<div class="row mt-4">
    <div class="col-sm-6">
        <div class="custom-card">
            <div class="card-body">
                <h5 class="card-title custom-title">Velkomst Boks</h5>
                <p class="card-text">Velkommen til din side @_currentUser?.FirstName</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="custom-card">
            <div class="card-body">
                <h5 class="card-title custom-title">Kommende Deadlines</h5>
                <p class="card-text">Du har nu følgende deadlines</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-4">
        <div class="custom-card">
            <div class="card-body">
                <h5 class="card-title custom-title">Kommende Kurser</h5>
                <p class="card-text">Følgende kurser kommer i den næste periode</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-4">
        <div class="custom-card">
            <div class="card-body">
                <h5 class="card-title custom-title">Notifikationer</h5>
                <p class="card-text">Du har følgende notofikationer</p>
            </div>
        </div>
    </div>
</div>


@code 

{
    private BrugerLoginDTO _currentUser;
    
    protected override async Task OnInitializedAsync()
    {
        _currentUser = await AuthService.GetBruger();
        if (_currentUser == null)
        {
            navMan.NavigateTo("login/");
            return;
        }
        else if (_currentUser.Rolle == "Elev" || _currentUser.Rolle == "Køkkenchef" || _currentUser.Rolle == "Mentor")
        {
            navMan.NavigateTo("/");
        }
        else if (_currentUser.Rolle == "HR")
        {
            navMan.NavigateTo("/Dashboard");
        }
    }
}
