@using Core;

@inject ITemplate ITemplateService;
@inject NavigationManager navMan;

@page "/retskabelon"
<h3>Ret skabelon</h3>

@if (_allTemplates != null)
{
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titel</th>
            <th>Beskrivelse</th>
            <th>Sidst opdateret</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (_allTemplates != null)
        {
            @foreach (var x in _allTemplates)
            {
                <tr>
                    <td>@x.Title</td>
                    <td>@x.Description</td>
                    <td>@x.UpdatedAt</td>
                    <td>
                        <button @onclick="() => GoToTemplatePage(x.Id) ">Rediger</button>
                    </td>
                    </tr>
            }
        }
        </tbody>
    </table>
    
}


@code {

    [CascadingParameter]
    private BrugerLoginDTO _currentUser { get; set; }

    //En liste af alle vores elevplanskabeloner
    private List<PlanTemplate> _allTemplates = new();
    
    protected override async Task OnInitializedAsync()
    {
        if (_currentUser == null)
        {
            navMan.NavigateTo("login/retskabelon");
            return;
        }
        else if (_currentUser.Rolle != "HR")
        {
            navMan.NavigateTo("");
        }

        _allTemplates = await ITemplateService.GetAllTemplates();



    }


    private void GoToTemplatePage(int templateId)
    {
        navMan.NavigateTo($"templateside/{templateId}");
    }

}