@using Core;
@using Client.Components.Elevoversigt

@inject ITemplate ITemplateService;

@inject NavigationManager navMan;

@page "/templateside/{templateId:int}"


@if (_template != null)
{
    <ElevplanComponent PlanTemplate="@_template" ShowSubmitButton="false" ShowComments="false"/>
}
else
{
    <p>Loading...</p>
}


@code {
    
    [Parameter]
    public int templateId { get; set; }
    
    [CascadingParameter] 
    private BrugerLoginDTO _currentUser { get; set; }
    
    private PlanTemplate _template;

    protected override async Task OnInitializedAsync()
    {
        if (_currentUser == null)
        {
            navMan.NavigateTo($"login/templateside/{templateId}");
        }

        _template = await ITemplateService.GetTemplateById(templateId);

    }
    
    
}