@using Core
@using Client.Components.Elevoversigt

@inject NavigationManager navMan;
@inject IElevPlan IElevPlanService;
@inject IBruger IBrugerService;


@page "/opretelevplan/{studentId:int}"

@if (elev != null)
{
    <h2>Du er ved at oprette en elevplan for @elev.Navn</h2>
    
    <ElevplanComponent Plan="@nyElevPlan"ShowSubmitButton="true"ShowComments="false" 
                       OnSubmitClicked="HandleElevplanSubmit" />    
}
else
{
    <p>Loading</p>
}


@code {
    [Parameter] public int studentId { get; set; }

    private Plan? nyElevPlan = new();
    private BrugerProfilDTO elev = new();

    protected override async Task OnInitializedAsync()
    {
        elev = await IBrugerService.GetBrugerById(studentId);
        nyElevPlan = await IElevPlanService.CreatePlanFromTemplate(studentId);
    }
    
    private async Task HandleElevplanSubmit()
    {
        
        //Gemmer planen
        await IElevPlanService.SavePlan(nyElevPlan);
        navMan.NavigateTo("/dashboard");
    }
}