@page "/resetpassword"

@inject IAuth AuthService;
@inject NavigationManager navMan;

@using Core;

<div class="resetpassword-form">
    <h3 class="overskrift">Nulstil adgangskode</h3>
    <p class="info">Skriv din e-mail for at nulstille din adgangskode</p>
    <EditForm Model="resetBruger" OnValidSubmit="@HandleReset">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-gruppe">
            <InputText @bind-Value="resetBruger.Email" class="form-control" placeholder="Email">
            </InputText>
            <br/>
            <button type="submit" class="nulstil-password-btn">Nulstil kodeord</button>
        </div>
    </EditForm>
  
</div>

@code {
    
    private BrugerLoginDTO _currentUser { get; set; }
    
    
    protected override async Task OnInitializedAsync()
    {
        _currentUser = await AuthService.GetBruger();
        
        if (_currentUser != null)
        {
            navMan.NavigateTo("/");
        }
    }

    private BrugerResetPasswordDTO? resetBruger = new();
    
    private async Task HandleReset()
    {
        string _email = resetBruger.Email;
        
        await AuthService.GetUserByEmail(_email);
        navMan.NavigateTo("resetkode");
        
    }

}