@using Core;

@inject IGoal GoalService;


@page "/kursusoverblik/{kursusId:int}"
<h3>Kursusoverblik</h3>


@if (_allUsersInKursus != null)
{
    <p>@_kursus.Description</p>

    <h3>Deltagerliste</h3>

    @foreach (var x in _allUsersInKursus)
    {
        <p>@x.FirstName</p>
    }
}

else
{
    <p>...Loading</p>
}

@code {

    [Parameter] public int kursusId { get; set; }

    private Goal _kursus;

    private List<User?> _allUsersInKursus = new();

    protected override async Task OnInitializedAsync()
    {
    }

}